.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.page__body {
    margin: 0 auto;
    width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}

.main-header__wrapper {
    padding: 15px 0 0 0;
    display: grid;
    grid-template-columns: 66px 165px 1fr;
    column-gap: 10px;
}

.main-header__logo {
    height: 66px;
}

.main-header__toggle {
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 4;
    width: 35px;
    height: 35px;
    padding: 17px 20px 17px 0;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(221, 220, 220);
    border-radius: 3px;
    cursor: pointer;
    background-image: url("./img/menu-open.png");
    background-repeat: no-repeat;
    background-position: center;
}

.main-header__toggle:hover,
.main-header__toggle:focus,
.main-header__toggle:active {
    opacity: 80%;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 12px;
}

.main-nav__list-item {
    position: relative;
    display: flex;

}

.main-nav__list-item:not(:first-child) {
    margin-left: 6px;
}

.main-nav__list-item a {
    color: #000;
    text-decoration: none;
    opacity: 30%;
}

.main-nav__list-item a:hover,
.main-nav__list-item a:focus,
.main-nav__list-item a:active {
    opacity: 100%;
}

.main-nav__list-item--current a {
    opacity: 100%;
}

.main-nav__list-dot {
    align-self: center;
    margin-left: 5px;
    width: 3px;
    height: 3px;
    background-color: #3912a4;
    border-radius: 2px;
}

.main-header__search-form {
    padding-top: 20px;
    position: relative;
}

.main-header__search-input {
    padding: 0;
    width: 165px;
    height: 35px;
    border: none;
    border-bottom: 1px solid rgb(221, 220, 220);
    cursor: pointer;
}

.main-header__search-input:hover,
.main-header__search-input:focus,
.main-header__search-input:focus-visible,
.main-header__search-input:active {
    outline: none;
}

.main-header__search-button {
    position: absolute;
    top: 25px;
    left: 140px;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url("./img/search.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.main-header__search-button:hover,
.main-header__search-button:focus,
.main-header__search-button:active {
    opacity: 80%;
}

.product-card__title {
    padding-left: 10px;
}

.product-card__rating {
    display: flex;
    margin-bottom: 17px;
    padding-left: 10px;
}

.product-card__rating-star:not(:last-child) {
    margin-right: 5px;
}

.product-card__nav {
    margin: 0 0 20px 0;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: rgb(249, 249, 249);
}

.product-card__list-item {
    position: relative;
    padding: 20px 0 20px 0;
    text-align: center;
}

.product-card__list-item a {
    padding: 10px 0 10px 0;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 80%;
}

.product-card__list-item a:hover,
.product-card__list-item a:focus,
.product-card__list-item a:active {
    color: #0253bd;
    opacity: 100%;
}

.product-card__list-item--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0253bd;
}

.product-card__list-item--current a {
    color: #0253bd;
    opacity: 100%;
}

.product-card__slider {
    position: relative;
    margin: 0 auto;
    height: 350px;
    max-width: 300px;
    overflow: hidden;
    
}

.product-card__slider-line {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: all 1s;
}

.product-card__slide {
    max-height: 100%;
    border-radius: 8px;
}


.product-card__slider-wrapper {
    position: absolute;
    bottom: 25px;
    left: 35%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgba(33, 32, 31, 0.1);
    border-radius: 10px;
}

.product-card__slider-dot {
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.product-card__slider-dot--active {
    background-color: #0253bd;
}

.product-card__characteristics {
    padding: 0 10px 0 10px;
}

.product-card__sub-title {
    text-transform: uppercase;
}

.product-card__description-key {
    color: rgb(124, 124, 124);
}

.product-card__description-key span {
    color: #000;
}

.product-card__form-wrapper {
    padding: 0 10px 0 10px;
}

.product-card__order-form {
    padding: 20px 10px 15px 10px;
    box-sizing: border-box;
    border: 2px solid rgb(249, 249, 249);
    border-radius: 5px;
}

.product-card__price {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: #0253bd;
}

.product-card__price-per-meter {
    margin: 0;
    color: rgb(124, 124, 124);
}

.product-card__article {
    font-size: 10px;
    color: #0253bd;
}

.product-card__article span {
    font-size: 9px;
    color: #000;
    font-weight: 700;
}

.product-card__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    opacity: 70%;
}

.product-card__buttons-group {
    position: relative;
    margin: 0;
    font-weight: 700;
    border: 2px solid rgb(225, 225, 225);
}

.product-card__buttons-group:hover,
.product-card__buttons-group:focus,
.product-card__buttons-group:active {
    opacity: 100%;
}

.product-card__label {
    position: absolute;
    top: 14%;
    left: 50%;
    z-index: 2;
}

.product-card__quantity {
    position: absolute;
    top: 20%;
    left: 30%;
    max-width: 50px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    -moz-appearance: textfield;
}

.product-card__quantity::-webkit-outer-spin-button,
.product-card__quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-card__quantity:hover,
.product-card__quantity:focus {
    -moz-appearance: textfield;
}

.product-card__button {
    position: absolute;
    top: 3px;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.product-card__button:hover,
.product-card__button:focus,
.product-card__button:active {
    opacity: 70%;
}

.product-card__button--minus {
    left: 4%;
    background-image: url("./img/minus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.product-card__button--plus {
    left: 77%;
    background-color: #0253bd;
    background-image: url("./img/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.product-card__cart-button {
    background-color: #0253bd;
    color: #fff;
    background-image: url("./img/shopping-cart.png");
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-size: 15px;
}

.product-card__favorites-button {
    border: 2px solid rgb(225, 225, 225);
    color: rgb(124, 124, 124);
    background-image: url("./img/favorite-icon.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 15px;
}

.product-card__favorites-button:hover,
.product-card__favorites-button:focus,
.product-card__favorites-button:active {
    background-color: #0253bd;
    color: #fff;
    border: none;
    opacity: 100%;
}

.product-card__call-button {
    background-color: #3cc605;
    color: #fff;
    background-image: url("./img/phone.png");
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-size: 15px;
}

.product-card__messangers-container {
    display: flex;
    justify-content: space-between;
}

.product-card__messangers-description {
    margin: 0;
    padding-right: 40px;
    font-size: 10px;
    line-height: 110%;
    color: rgb(124, 124, 124);
}

.product-card__messanger-wrapper {
    display: flex;
}

.product-card__messanger {
    width: 24px;
    height: 24px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.product-card__messanger:hover,
.product-card__messanger:focus,
.product-card__messanger:active {
    opacity: 80%;
}

.product-card__messanger:not(:last-child) {
    margin-right: 10px;
}

.product-card__messanger--whats-app {
    background-image: url("./img/whats-app.png");
}

.product-card__messanger--viber {
    background-image: url("./img/viber.png");
}

.product-card__messanger--telegram {
    background-image: url("./img/telegram.png");
}